In [7]:
!pip -q install openai pandas tqdm

import pandas as pd
df = pd.read_csv("SDW2023_full.csv")
df

          A        B                    C
0      Nome    Conta               Cartao
1  Pyterson  00001-1  **** **** **** 1111
2       Pip  00002-2  **** **** **** 2222
3       Pep  00003-3  **** **** **** 3333

In [10]:
df.columns = ["Nome", "Conta", "Cartao"]
df

       Nome    Conta               Cartao
0      Nome    Conta               Cartao
1  Pyterson  00001-1  **** **** **** 1111
2       Pip  00002-2  **** **** **** 2222
3       Pep  00003-3  **** **** **** 3333

In [11]:
users = df.to_dict(orient="records")

def gerar_mensagem(user):
    nome = user["Nome"]
    mensagem = f"{nome}, investir hoje é o primeiro passo para um futuro financeiro melhor."
    return mensagem[:100]

for u in users:
    u["Mensagem"] = gerar_mensagem(u)

users

[{'Nome': 'Nome',
  'Conta': 'Conta',
  'Cartao': 'Cartao',
  'Mensagem': 'Nome, investir hoje é o primeiro passo para um futuro financeiro melhor.'},
 {'Nome': 'Pyterson',
  'Conta': '00001-1',
  'Cartao': '**** **** **** 1111',
  'Mensagem': 'Pyterson, investir hoje é o primeiro passo para um futuro financeiro melhor.'},
 {'Nome': 'Pip',
  'Conta': '00002-2',
  'Cartao': '**** **** **** 2222',
  'Mensagem': 'Pip, investir hoje é o primeiro passo para um futuro financeiro melhor.'},
 {'Nome': 'Pep',
  'Conta': '00003-3',
  'Cartao': '**** **** **** 3333',
  'Mensagem': 'Pep, investir hoje é o primeiro passo para um futuro financeiro melhor.'}]

In [12]:
out_df = pd.DataFrame(users)
out_df.to_csv("SDW2023_out.csv", index=False, encoding="utf-8")

out_df

,Nome,Conta,Cartao,Mensagem
0,Nome,Conta,Cartao,"Nome, investir hoje é o primeiro passo para um..."
1,Pyterson,00001-1,**** **** **** 1111,"Pyterson, investir hoje é o primeiro passo par..."
2,Pip,00002-2,**** **** **** 2222,"Pip, investir hoje é o primeiro passo para um ..."
3,Pep,00003-3,**** **** **** 3333,"Pep, investir hoje é o primeiro passo para um ..."

In [13]:
df = df[df["Nome"] != "Nome"]
df

       Nome    Conta               Cartao
1  Pyterson  00001-1  **** **** **** 1111
2       Pip  00002-2  **** **** **** 2222
3       Pep  00003-3  **** **** **** 3333

In [14]:
users = df.to_dict(orient="records")

def gerar_mensagem(user):
    nome = user["Nome"]
    mensagem = f"{nome}, investir hoje é o primeiro passo para um futuro financeiro melhor."
    return mensagem[:100]

for u in users:
    u["Mensagem"] = gerar_mensagem(u)

users

[{'Nome': 'Pyterson',
  'Conta': '00001-1',
  'Cartao': '**** **** **** 1111',
  'Mensagem': 'Pyterson, investir hoje é o primeiro passo para um futuro financeiro melhor.'},
 {'Nome': 'Pip',
  'Conta': '00002-2',
  'Cartao': '**** **** **** 2222',
  'Mensagem': 'Pip, investir hoje é o primeiro passo para um futuro financeiro melhor.'},
 {'Nome': 'Pep',
  'Conta': '00003-3',
  'Cartao': '**** **** **** 3333',
  'Mensagem': 'Pep, investir hoje é o primeiro passo para um futuro financeiro melhor.'}]

In [15]:
out_df = pd.DataFrame(users)
out_df.to_csv("SDW2023_out.csv", index=False, encoding="utf-8")

out_df

,Nome,Conta,Cartao,Mensagem
0,Pyterson,00001-1,**** **** **** 1111,"Pyterson, investir hoje é o primeiro passo par..."
1,Pip,00002-2,**** **** **** 2222,"Pip, investir hoje é o primeiro passo para um ..."
2,Pep,00003-3,**** **** **** 3333,"Pep, investir hoje é o primeiro passo para um ..."